{% extends "base.html" %}

{% block content %}
    <h1>Build-A-Blog!</h1>
    <form method='post'>
        <label>
            New Post:
            <input type="text" name='name' />
            <input type="text" name='text' />
        </label>
        <input type="submit" value='Add Blog' />
        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}
    </form>

{% endblock %}